<!--TIPOGRAFIA

<div class="mat-display-4">This is display 4</div>
<div class="mat-display-3">This is display 3</div>
<div class="mat-display-2">This is display 2</div>
<div class="mat-display-1">This is display 1</div>

<div class="mat-headline">This is heading for h1</div>
<div class="mat-title">This is heading for h2</div>
<div class="mat-subheading-2">This is heading for h3</div>
<div class="mat-subheading-1">This is heading for h4</div>

<div class="mat-typography">
  <h1>This is heading for h1</h1>
  <h2>This is heading for h2</h2>
  <h3>This is heading for h3</h3>
  <h4>This is heading for h4</h4>
</div>

<div class="mat-body-1">This is body text</div>
<div class="mat-body-2">This is bold body text</div>
<div class="mat-subheading-2">This is caption text</div>-->

<!--BUTTONS
<div>
  <button mat-button>Button</button>
  <button mat-raised-button>Raised-button</button>
  <button mat-flat-button>Flat-Button</button>
  <button mat-stroked-button>Stroked-Button</button>
</div>

<div>
  <button mat-icon-button>Icon</button>
  <button mat-fab>Fab</button>
  <button mat-mini-fab>MiniFab</button>
</div>

<div>
  <button color="primary" mat-button>Primary</button>
  <button color="accent" mat-button>Accent</button>
  <button color="warn" mat-button>Warn</button>

  <button color="primary" mat-raised-button>Primary</button>
  <button color="accent" mat-raised-button>Accent</button>
  <button color="warn" mat-raised-button>Warn</button>
</div>-->

<!--TOOGLE (acts like checkbox o radio buttons, but better)
<div>
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="react">React</mat-button-toggle>
    <mat-button-toggle value="vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{ toggleGroup.value }}
</div>-->

<!--ICONS

<div>
  <mat-icon color="primary">grade</mat-icon>
</div>-->

<!--ICONS (small circle to indicate notificactions)
Position of badge
<div>
  <span matBadge="5">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="below before">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="below after">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgePosition="above before">Notifications</span>
</div>

Size of badge
<div>
  <span matBadge="5" matBadgeSize="small">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgeSize="medium">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgSize="large">Notifications</span>
</div>

Color of badge
<div>
  <span matBadge="5" matBadgeColor="primary">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgeColor="accent">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgeColor="warn" >Notifications</span>
</div>

Overlap of badge, (use to icons, but for text better not to overlap)
<div>
  <span matBadge="5" matBadgeColor="primary" matBadgeOverlap="false">Notifications</span>
</div>

Bind to a variable on component, and condition to hide when 0
<div>
  <span [matBadge]="notifications" [matBadgeHidden]="notifications == 0" matBadgeColor="primary" matBadgeOverlap="false" >Notifications</span>
</div>-->

<!-- PROGRESS BAR - SPINNER
<div>
  spinner to show something is loading, in this example we show it for 5 seconds
  can personalize colors
  <br />
  <mat-spinner *ngIf="showSpinner" color="primary"></mat-spinner>
  <button mat-raised-button (click)="loadData()">Load Data</button>
  <br />
  <br />
  spinner progress 50%
  <mat-progress-spinner value="50"></mat-progress-spinner>
  <br />
  bar progress 50%
  <mat-progress-bar value="50"></mat-progress-bar>
</div>-->

<!--NAVBAR-->
<!--TOOLBAR
<mat-toolbar color="primary" class="navbar">
  <span>Material Navbar</span>
  <div>
    <span>Home</span>
    <span>About</span>
    <span>Services</span>
  </div>
</mat-toolbar>-->

<!--SIDEBAR-->
three modes are side, over and push
on log is example there you can do any action you want
<mat-sidenav-container>
  <mat-sidenav #sidenav (opened)="log('Opened')" (closed)="log('Closed')" mode="side" [(opened)]="sidevarOpened" >Sidenav</mat-sidenav>
  <mat-sidenav-content>Main
    <button (click)="sidevarOpened=!sidevarOpened">Toggle Opened</button>
    <button (click)="sidenav.open()">Open</button>
    <button (click)="sidenav.close()">Close</button>
    <button (click)="sidenav.toggle()">Toggle</button>
  </mat-sidenav-content>
</mat-sidenav-container>
